.form-container{
    display: flex;
    flex-direction: column;
    gap: .7rem;
    width: 58svw;
    padding:1.2rem;
    min-height: 30svh;
}
.title-post{
    font-weight: 600;
    font-size: .7em;
    color: #fff;
    width: fit-content;
    display: inline-block;
}
.input-title{
    align-items: center;
    width: 25svw;
    padding:.7rem;
    border-radius: .3rem;
    border: .2rem #fff solid;
    outline-style: none;
}
.create-btn{
    font-weight: 300;
    width: 7svw;
    border-radius: .3rem;
    border: none;
    padding:.6rem;
    cursor: pointer;
    color: #fff;
    background-color:var(--btn-color);
    box-shadow: 0 .2rem .2rem rgb(7, 77, 105);
    &:hover{
        transform: scale(1.06);
        transition: all 2s ease-in-out;
    }
}
.create-post-figure-container{
    position: fixed;
    height: 50svh;
    width: 30svw;
    border-radius: .5rem;
    border: .17rem #000 solid;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:.5rem;
    overflow-wrap: break-word;
}
.icon-close-figure{
    height: 3rem;
    width: 3rem;
    border-radius: 4rem;
    background-color: #fff;
    display: flex;
    position: absolute;
    top:-1.3rem;
    right:-1.3rem;
    justify-content: center;
    align-items: center;
    z-index: 5;
}