.card-container-home {
    background: url('background-image.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: .2rem;
    border: .2rem #000 solid;
    margin: .1rem;
    padding: .5rem;
    width: calc(100%/5.1);
    height: calc(100vw/6.1);
    position: relative;

    &:hover {
        border: .2rem #c5b414 solid;
        transition: all 1s ease-in-out;
        cursor: pointer;
    }

}

.post-content-home {
    height: calc(100vw/6.8);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: .5rem;
}

.title-card-home {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    color: #fff;
    font-size: 1rem;
    font-family: 'Monserrat', monospace;
   
}
.home-post-container{
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    padding:6rem;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title-home-post {
    color: #fff;
    font-family: 'Monserrat', monospace;
    text-align: center;
    font-size: 3em;
}

.image-post-home {
    position: relative;
    background-image: none;
    align-self: center;
}
.image-post-home img{
    width: 80svw;
    height: 50svh;
    object-fit: contain;
    filter: drop-shadow(0 0 0.75rem #ffffffc5);
    
}

.ul-list-container {
    width: fit-content;
    padding:7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-a-home {
    position: relative;
    list-style: none;
    color:#fff;
}
.info-a-home :link {
    color: #fff;
    text-decoration: none;
  }
  
  /* visited link */
  .info-a-home:visited {
    color: #fff;
    text-decoration: none;
  }


.info-a-home {
    padding: .4rem;
    color:#fff;
}


.text-home-page {
    font-family: 'Monserrat', monospace;
    line-height: 1.5em;
    padding:.7rem;
    color: #fff;
    font-size: 1em;
    align-items: center;
    width: 70svw;
}

h2 {
    font-size: 1.7em;
    font-family: 'Monserrat', monospace;
    color: #fff;
}
.container-home-p{

    padding:.7rem;
}